<section class="panel">
	<header class="panel-heading">
		<div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
			<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
		</div>

		<h2 class="panel-title">Usuários</h2>
	</header>
	<div class="panel-body">
		<table class="table table-bordered table-striped" id="datatable-ajax" data-url="assets/ajax/ajax-datatables-sample.json">
			<thead>
				<tr>
					<th width="20%">Nome</th>
					<th width="25%">Email</th>
					<th width="25%">Telefone</th>
					<th width="15%">CPF</th>					
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</section>