<section role="main" class="content-body">
    <header class="page-header">
        <h2>Cadastro de Clientes</h2>
        <div class="right-wrapper pull-right" style="margin-right: 40px">
            <ol class="breadcrumbs">
                <li>
                    <a ui-sref="app.home">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Pages</span></li>
                <li><span>Cadastro de Clientes</span></li>
            </ol>
    
            <!-- <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a> -->
        </div>
    </header>
    <h1 class="page-title"> Clientes</h1>
    <button class="btn btn-space btn-primary btnAdd" data-toggle="modal" data-target="#cadastrar">
        <i class="icon icon-left mdi mdi-plus"></i> Adicionar
    </button>
    <br><br>
    <table class="table" id="tabela" width="100%" ng-init="populateTable()">
        <thead>
            <tr>
                <th>Ativo</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Status</th>
                <th>Opções</th>
            </tr>
        </thead>
    </table>    
    <div id="cadastrar" class="modal fade colored-header colored-header-primary">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header"> 
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close">
                        <span class="mdi mdi-close"></span>
                    </button>
                    <h3 class="modal-title" >Cadastrar</h3>
                </div>
                <form id="formCliente" ng-submit="Cliente()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" id="name" ng-model="formc.name" name="name" class="form-control" ng-required="true">
                        </div>
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="text" id="cpf" ng-model="formc.cpf" name="cpf" class="form-control cpf-mask" ng-required="true">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" ng-model="formc.email" name="email" class="form-control" ng-required="true">
                        </div>
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input type="text" id="phoneNumber" ng-model="formc.phoneNumber" name="phoneNumber" class="form-control"  ng-required="true">
                        </div>
                        <div class="checkbox">
                            <label for="ativo"><input type="checkbox" id="ativo" ng-checked="" ng-model="formc.ativo" name="ativo">Permitir acesso ao usuário?</label>
                        </div>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="editarCliente" class="modal fade colored-header colored-header-primary">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header"> <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
                    <h3 class="modal-title" >Editar Cliente</h3>
                </div>
                <form id="formCliente" ng-submit="update()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" id="name" ng-model="form.name" name="name" class="form-control" ng-required="true">
                        </div>
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="text" id="cpf" ng-model="form.cpf" name="cpf" class="form-control" ng-required="true">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" ng-model="form.email" name="email" class="form-control" ng-required="true">
                        </div>
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input type="text" id="phoneNumber" ng-model="form.phoneNumber" name="phoneNumber" class="form-control"  ng-required="true">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>