<header class="header" >
	<div class="logo-container">
		<a href="#" class="logo">
			<img src="src/images/logo.png" width="75" height="35" alt="Porto Admin" />	
		</a>					
		<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
			<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
		</div>
	</div>

	<!-- start: search & user box -->
	<div class="header-right">			
		<form action="http://preview.oklerthemes.com/porto-admin/1.7.0/pages-search-results.html" class="search nav-form">
			<div class="input-group input-search">
				<input type="text" class="form-control" name="q" id="q" placeholder="Search...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</form>
	
		<span class="separator"></span>

		<div id="userbox" class="userbox">
			<a href data-toggle="dropdown">
				<figure class="profile-picture">
					<img src="src/images/%21logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="src/images/%21logged-user.jpg" />
				</figure>
				<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
					<span class="name">{{ userInfo.name }}</span>
					<span class="role">{{userInfo.role}}</span>
				</div>

				<i class="fa custom-caret"></i>
			</a>

			<div class="dropdown-menu">
				<ul class="list-unstyled">
					<li class="divider"></li>
					<li>
						<a role="menuitem" tabindex="-1" ui-sref="app.perfil"><i class="fa fa-user"></i> Meu perfil</a>
					</li>
					<li>
						<a role="menuitem" tabindex="-1" ui-sref="" data-lock-screen="true"><i class="fa fa-lock"></i> Bloquear</a>
					</li>
					<li>
						<a role="menuitem" tabindex="-1"  ng-click="logout()"><i class="fa fa-power-off"></i> Sair</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- end: header -->