<div class="inner-wrapper">
	<!-- start: sidebar -->
	<aside id="sidebar-left" class="sidebar-left">
	
	    <div class="sidebar-header">
	        <div class="sidebar-title">
	            Navegue
	        </div>
	        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
	            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
	        </div>
	    </div>
	
	    <div class="nano">
	        <div class="nano-content">
	            <nav id="menu" class="nav-main" role="navigation">
	            
	                <ul class="nav nav-main">
	                    <li>
	                        <a ui-sref="app.home">
	                            <i class="fa fa-home" aria-hidden="true"></i>
	                            <span>Dashboard</span>
	                        </a>                        
	                    </li>
	                    <li id="acoes" class="nav-parent nav-active">
	                        <a class="nav-link">
	                            <i class="fa fa-columns" aria-hidden="true"></i>
	                            <span>Ações</span>
	                        </a>
	                        <ul class="nav nav-children">
	                            <li>
	                                <a ui-sref="app.cliente">
	                                    Clientes 
	                                </a>
	                            </li>		
	                        </ul>
	                    </li>
	                </ul>
	            </nav>			
	        </div>
	    </div>
	    </aside>

	</div>	