<section role="main" class="content-body mtz-venda" ng-init="getProduto()">
    <header class="page-header">
        <h2>Nova Venda</h2>
        <div class="right-wrapper pull-right" style="margin-right: 40px">
            <ol class="breadcrumbs">
                <li>
                    <a ui-sref="app.home">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <span>Pages</span>
                </li>
                <li>
                    <span>Nova Venda</span>
                </li>
            </ol>
        </div>
    </header>
    <h1 class="page-title">Nova Venda</h1>
    <br>
    <form id="novaVenda" name="formNovaVenda" ng-submit="add()">
        <div class="modal-body">

            <section class="col-md-6 section-left">
                <!-- Pesquisar -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="pesquisar-cliente">Pesquisar Cliente</label>
                            <div class="mtz-display-flex">

                                <input id="pesquisarCliente" type="text" name="pesquisar-cliente" class="form-control input-pesquisar cpf-mask" minlength="14" maxlength="14"
                                    placeholder="Pesquise o CPF do cliente" ng-model="pesquisaCliente" name="pesquisaCliente"
                                    required>
                                <button id="btn-pesquisar-cliente" type="button" class="btn btn-primary" ng-click="pesquisarCliente()">
                                    Pesquisar
                                </button>
                            </div>

                        </div>
 
                    </div>
                </div>
                <!-- Mostrar cliente selecionado -->
                <div class="row" ng-show="existe">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong>Nome:</strong> {{cliente.name}}</li>
                            <li class="list-group-item">
                                <strong>Telefone:</strong> {{cliente.phoneNumber}}</li>
                            <li class="list-group-item">
                                <strong>Endereço:</strong> {{cliente.endereco}}</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong>Email:</strong> {{cliente.email}}</li>
                            <li class="list-group-item">
                                <strong>CPF:</strong> {{cliente.cpf}}</li>
                            <li class="list-group-item">
                                <strong>Tipo de produtos:</strong> {{cliente.x}}</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row mtz-limit-height">
                    <div class=" form-group col-md-12 " height="200px">
                        <table name="select-produto" id="select-produto" class="table table-hover scroll">
                            <thead>
                                <th>Foto</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Preço </th>
                                <th>Estoque</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="produto in produtos" id="{{produto.DT_RowId}}">
                                    <td>{{produto.img}}</td>
                                    <td>{{produto.nome}}</td>
                                    <td>{{produto.descricao}}</td>
                                    <td>{{produto.preco | currency : 'R$ ': 2}}</td>
                                    <td>{{produto.quantidade}}</td>
                                    <td><button class="btn btn-primary" type="button" class="mtz-btn-add" ng-click="adicionarProduto(this.produto)" ng-disabled="produto.desliga">+</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- Faturamento e lançamento -->
            <section class="form-group">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div align="right" style="margin-right: 20px;">
                                <h3 style="text-align: right;">Itens da Venda</h3>
                                <strong class="mtz-date">DATA:</strong>    <span>{{hora | date: 'dd/MM/yyyy'}}</span>
                                <strong class="mtz-date">HORA:</strong>     <span>{{hora | date: 'HH:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>
                    <hr id="mtz-custom-hr">
                    <div class="mtz-scroll">
                        <table id="tb-nova-compra" class="table table-hover">
                            <thead>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Preço Un.</th>
                                <th>Quantidade</th>
                                <th>Preço total</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in itensVenda track by $index" id="{{itensVenda.DT_RowId}}">
                                    <td>{{item.DT_RowId}}</td>
                                    <td> {{item.nome}} </td>
                                    <td> {{item.preco | currency: "R$ " : 2}} </td>
                                    <td>{{item.qtdOut}}</td>
                                    <td>{{item.precoTotal | currency: "R$ " : 2}}</td>
                                    <td> <button type="button" class="btn btn-warning">-</button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <div class="col-md-6">
                <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
                <button type="submit" class="btn btn-primary">Finalizar Venda</button>
            </div>
            <div class="col-md-6">
                <div align="right">
                    <p>Subtotal: R$ 0.00
                        <!--{{subtotal | currency : BRL: 2}} -->
                    </p>
                </div>
            </div>
        </div>
    </form>
    <!-- MODAL Cadastrar Cliente -->
    <div id="cadastrarnv" class="modal fade colored-header colored-header-primary">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close">
                        <span class="mdi mdi-close"></span>
                    </button>
                    <h3 class="modal-title">Cadastrar Novo Cliente</h3>
                </div>
                <!-- Form cadastrar -->
                <form id="cadastroClienteNV" ng-submit="addCliente()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" id="name-nv" ng-model="cadastroClienteNV.name" name="name-nv" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="text" id="cpf-nv" ng-model="cadastroClienteNV.cpf" name="cpf-nv" minlength="14" maxlength="14" class="form-control cpf-mask" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email-nv" ng-model="cadastroClienteNV.email" name="email-nv" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input type="text" id="phoneNumber-nv" ng-model="cadastroClienteNV.phoneNumber" name="phoneNumber-nv" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
                        <button type="submit" class="btn btn-primary" >Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>