<section role="main" class="content-body">
    <header class="page-header">
        <h2>Cadastro de Produtos</h2>
    
        <div class="right-wrapper pull-right" style="margin-right: 40px">
            <ol class="breadcrumbs">
                <li>
                    <a ui-sref="app.home">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Páginas</span></li>
                <li><span>Cadastro de Produtos</span></li>
            </ol>
    
            <!-- <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a> -->
        </div>
    </header>
                <h1 class="page-title" ng-init="load()">Produtos</h1>
                <button class="btn btn-space btn-primary btnAdd" data-toggle="modal" data-target="#cadastrarProduto">
                    <i class="icon icon-left mdi mdi-plus"></i> Adicionar
                </button>
                <br><br>
                <table class="table" id="tabelaProdutos" width="100%" ng-init="populateTable()">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Fabricante</th>
                        <th>Preço</th>
                        <th>Descrição</th>
                        <th>Quantidade</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                </table>
                <!-- MODAL === CADASTRAR PRODUTO === -->
                <div id="cadastrarProduto" class="modal fade colored-header colored-header-primary">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header"> <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
                                <h3 class="modal-title" >Cadastrar Produto</h3>
                            </div>
                            <form id="formProduto" ng-submit="addProduto()">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="nome">Nome</label>
                                        <input type="text" id="nome" ng-model="formp.nome" name="nome" class="form-control" ng-required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="fabricante">Fabricante</label>
                                        <input type="text" id="fabricante" ng-model="formp.fabricante" name="fabricante" class="form-control" ng-required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="preco">Preços</label>
                                        <input type="number" id="preco" ng-model="formp.preco" name="preco" class="form-control" ng-required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="descricao">Descrição</label>
                                        <input type="text" id="descricao" ng-model="formp.descricao" name="descricao" class="form-control"  ng-required="true">
                                    </div> 
                                    <div class="form-group">
                                        <label for="quantidade">Quantidade</label>
                                        <input type="number" id="quantidade" ng-model="formp.quantidade" name="quantidade" class="form-control"  ng-required="true">
                                    </div>          
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- MODAL === EDITAR PRODUTO === -->
                <div id="editarProduto" class="modal fade colored-header colored-header-primary">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header"> <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
                                <h3 class="modal-title" >Editar Produto</h3>
                            </div>
                            <form id="formProduto" ng-submit="updateProduto()">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="nome">Nome</label>
                                        <input type="text" id="nome" ng-model="formpr.nome" name="nome" class="form-control" ng-required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="fabricante">Fabricante</label>
                                        <input type="text" id="fabricante" ng-model="formpr.fabricante" name="fabricante" class="form-control" ng-required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="preco">Preço</label>
                                        <input type="number" id="preco" ng-model="formpr.preco" name="preco" class="form-control" ng-required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="descricao">Descrição</label>
                                        <input type="text" id="descricao" ng-model="formpr.descricao" name="descricao" class="form-control"  ng-required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="quantidade">Quantidade</label>
                                        <input type="number" id="quantidade" ng-model="formpr.quantidade" name="quantidade" class="form-control"  ng-required="true">
                                    </div>                  
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Atualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>